<%- include('../templates/head')-%>
<body>
    <%- include('../templates/navbar')-%>
    <div class="container"> <!-- Always enclose everything in a container  -->
        <main role="main" class="inner cover"> <!-- Idk what this element does but every tutorial uses it so eh might as well use it  -->

            <div class="mt-6"></div> <!-- Used for spacing between sections  -->
            <!-- Table card card section  -->
            <!-- Heading  -->
            <div class="row"> <!-- Use this row div if you want your section heading to be inline with another element  -->
                <div class="col-sm-6 col-12 align-self-end">
                    <h2 class="section-heading">Venues</h2>
                </div>
                <div class="col-sm-6 col-12 align-self-end">
                        <!-- If you want something to launch a modal, you need to add a data-toggle and data-target attribute as shown in this example. The data-target must match the id of the modal you created -->
                            <div class="card input-card w-100">
                                <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                                <div class="card-body input-card-body">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <label for="searchReservationInput" class="card-input-label">
                                                <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                                <small class="card-subtitle mb-2 text-secondary font-weight-normal">Search
                                                    Venues</small>
                                                <!-- The small element is where we actually write down what the input does  -->
                                            </label>
                                            <input id="searchVenueInput" name="searchVenueInput" class="form-control card-input" type="search"
                                                placeholder="E.g. Auditorium">
                                        </div>
                                        <button id="clearSearchVenueButton" class="btn text-muted" type="button" style="display: none;"><i class="fas fa-times"></i></button>
                                        <button id="searchVenueButton" class="btn text-primary" type="button"><i class="fas fa-search"></i></button>
                                        <!-- This is where the user actually inputs all their stuff  -->
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="mt-0"></div> <!-- This spacing is different from the rest cause having multiple inline elements in the heading kinda screws up the spacing, so have to set it to zero to make it look consistent with the rest -->
            <!-- Content  -->
            <div class="card mt-3"> <!-- Put interactible elements in a card, enclosed with card-body  -->
                <div class="card-body p-0">  <!-- We set the card's padding to 0 cause we want the table's edges to be flush with the table  -->
                    <!-- Table  -->
                    <div class="table-responsive">
                        <table class="table table-click table-lg"> 
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col" class="p-3 pb-2"><a class="btn btn-primary responsive-float float-right w-100" href="/admin/add-venue" role="button"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Venue</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (i = 0; i < venues.length; i++) { %>
                                    <tr id="<%= venues[i].id %>" class="VenueRow">
                                        <td scope="row"><%= i + 1 %></td>
                                        <td class="font-weight-medium"><a href="/admin/venues/<%= venues[i].id %>"><%= venues[i].name %></a></td>
                                        <td><%= moment(venues[i].createdAt).format('Do MMMM YYYY') %></td>
                                        <td></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>

<script>
    
    const searchVenueInput = '#searchVenueInput';
    const searchVenueButton = '#searchVenueButton';
    const clearSearchVenueButton = '#clearSearchVenueButton';
    const venueRow = ".VenueRow";

    let venues;

    $(document).ready(async function() {
        try {
            venues = (await ajax.get(routes.admin.venues)).map(venue => Venue.parseApiResult(venue));
        } catch (error) {
            return utils.handleError(error);
        }
    });

    $(searchVenueInput).keyup(function(e) {
        // if (e.keyCode == 13) {
        //     const attendee = event.attendees.filter(attendee => attendee.phoneNumber == $(this).val());
        //     if (attendee.length !== 1) return toast.danger("This phone number is not tied to any reservation!");

        //     highlightAttendeeSeats(attendee[0].id);
        // }
        if (e.target.value.length === 0) $(clearSearchVenueButton).hide();
        else $(clearSearchVenueButton).show();
    });

    $(clearSearchVenueButton).click(function() {
        document.querySelectorAll(venueRow).forEach(obj => obj.classList.remove("table-active"));
        $(searchVenueInput).val('');
        $(clearSearchVenueButton).hide();
    });

    $(searchVenueButton).click(function() {
        document.querySelectorAll(venueRow).forEach(obj => obj.classList.remove("table-active"));

        const venue = venues.filter(venue => (venue.name).toLocaleLowerCase() === (($(searchVenueInput).val()).trim()).toLocaleLowerCase());
        if (venue.length !== 1) return toast.danger("This venue name does not exist!");

        const row = document.getElementById(venue[0].id);
        row.classList.add("table-active");
    });
   
</script>

<%- include('../templates/footer')-%>