<%- include('../templates/head')-%>
<body>
    <%- include('../templates/navbar')-%>
    <div class="container"> <!-- Always enclose everything in a container  -->
        <main role="main" class="inner cover"> <!-- Idk what this element does but every tutorial uses it so eh might as well use it  -->

            <div class="mt-6"></div> <!-- Used for spacing between sections  -->
            <!-- Table card card section  -->
            <!-- Heading  -->
            <div class="row"> <!-- Use this row div if you want your section heading to be inline with another element  -->
                <div class="col-sm-6 col-12 align-self-end">
                    <h2 class="section-heading">Venues</h2>
                </div>
                <div class="col-sm-6 col-12 align-self-end">
                    <div class="card input-card w-100">
                        <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                        <div class="card-body input-card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <label for="searchVenuesInput" class="card-input-label">
                                        <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                        <small class="card-subtitle mb-2 text-secondary font-weight-normal">Search
                                            Helpers</small>
                                        <!-- The small element is where we actually write down what the input does  -->
                                    </label>
                                    <input id="searchVenueInput" name="searchVenueInput" class="form-control card-input" type="search"
                                        placeholder="E.g. Auditorium">
                                </div>
                                <button id="clearSearchVenueButton" class="d-none btn text-muted" type="button"><i class="fas fa-times"></i></button>
                                <button class="btn text-muted" disabled><i class="fas fa-search"></i></button>
                                <!-- This is where the user actually inputs all their stuff  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-0"></div> <!-- This spacing is different from the rest cause having multiple inline elements in the heading kinda screws up the spacing, so have to set it to zero to make it look consistent with the rest -->
            <!-- Content  -->
            <div class="card mt-3"> <!-- Put interactible elements in a card, enclosed with card-body  -->
                <div class="card-body p-0">  <!-- We set the card's padding to 0 cause we want the table's edges to be flush with the table  -->
                    <!-- Table  -->
                    <div class="table-responsive">
                        <table class="table table-click table-lg"> 
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col" class="p-3 pb-2"><a class="btn btn-primary responsive-float float-right w-100" href="/admin/add-venue" role="button"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Venue</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (i = 0; i < venues.length; i++) { %>
                                    <tr id="<%= venues[i].id %>" class="venueRow">
                                        <td scope="row"><%= i + 1 %></td>
                                        <td class="font-weight-medium"><a href="/admin/venues/<%= venues[i].id %>"><%= venues[i].name %></a></td>
                                        <td><%= moment(venues[i].createdAt).format('Do MMMM YYYY') %></td>
                                        <td class="text-center">
                                            <form action="/api/admin/venues/<%= venues[i].id %>" class="deleteVenueForm">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <i class="fa fa-trash text-danger" style="font-size: 25px;"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>

<script>
    const searchVenueInput = document.getElementById('searchVenueInput');
    const searchVenueButton = document.getElementById('searchVenueButton');
    const clearSearchVenueButton = document.getElementById('clearSearchVenueButton');
    const venueRows = document.querySelectorAll('.venueRow');
    const deleteVenueForms = document.querySelectorAll('.deleteVenueForm');

    let venues = [];

    window.addEventListener("load", async function(e) {
        new autoComplete({
            data: {
                src: async () => {
                    return (await ajax.get(routes.admin.venues)).map(venue => Venue.parseApiResult(venue));
                },
                key: ["name"]
            },
            placeHolder: "e.g. Auditorium",
            selector: "#searchVenueInput",
            highlight: true,
            resultsList: {
                render: true,
            },
            resultItem: {
                content: (data, source) => {
                    source.innerHTML = data.match;
                },
                element: "li"
            },
            onSelection: feedback => {
                const venueRows = document.querySelectorAll('.venueRow');
                venueRows.forEach(obj => obj.classList.remove("table-active"));

                const selectedRow = document.getElementById(feedback.selection.value.id);
                selectedRow.classList.add("table-active");
                selectedRow.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });

                searchVenueInput.value = feedback.selection.value.name;
            }
        });
        
        window.LoadingOverlay.hide();
    });
    
    searchVenueInput.addEventListener('keyup', function (e) {
        if (e.target.value.length === 0) document.querySelectorAll('.venueRow').forEach(obj => obj.classList.remove("table-active"));
        clearSearchVenueButton.classList.toggle('d-none', e.target.value.length === 0);
    });


    clearSearchVenueButton.addEventListener('click', function (e) {
        document.querySelectorAll('.venueRow').forEach(obj => obj.classList.remove("table-active"));
        searchVenueInput.value = '';
        clearSearchVenueButton.classList.add('d-none');
    });

    deleteVenueForms.forEach(function(element) {
        element.addEventListener('submit', async function (e) {
            e.preventDefault();

            const check = confirm("Are you sure you want to delete this venue?");
        
            if (check === true) {
                try {
                    await ajax.delete(e.target.action);
                    await ajax.post(routes.index.successFlash, "Venue has been deleted successfully!");

                    window.location.replace('/admin/venues');
                } catch (error) {
                    utils.handleError(error);
                }
            }
        });
    });
</script>

<%- include('../templates/footer')-%>