<!-- <%- include('../templates/head')-%>

<body>
    <%- include('../templates/navbar')-%>
    <div class="container">
        <! Always enclose everything in a container  -->
        <main role="main" class="inner cover">
            <!-- Idk what this element does but every tutorial uses it so eh might as well use it  -->

            <div class="mt-6"></div> <!-- Used for spacing between sections  -->
            <!-- Input card section  -->
            <!-- Heading  -->
            <div class="row">
                <!-- Use this row div if you want your section heading to be inline with another element  -->
                <div class="col-sm-6 col-12 align-self-end">
                    <h2 class="section-heading">Helpers</h2>
                </div>
                <div class="col-sm-6 col-12 align-self-end">
                    <!-- If you want something to launch a modal, you need to add a data-toggle and data-target attribute as shown in this example. The data-target must match the id of the modal you created -->
                        <div class="card input-card w-100">
                            <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                            <div class="card-body input-card-body">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <label for="searchReservationInput" class="card-input-label">
                                            <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                            <small class="card-subtitle mb-2 text-secondary font-weight-normal">Search
                                                Helpers</small>
                                            <!-- The small element is where we actually write down what the input does  -->
                                        </label>
                                        <input id="searchHelperInput" name="searchHelperInput" class="form-control card-input" type="search"
                                            placeholder="E.g. 173560N@mymail.nyp.edu.sg">
                                    </div>
                                    <button id="clearSearchHelperButton" class="btn text-muted" type="button" style="display: none;"><i class="fas fa-times"></i></button>
                                    <button id="searchHelperButton" class="btn text-primary" type="button"><i class="fas fa-search"></i></button>
                                    <!-- This is where the user actually inputs all their stuff  -->
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- Modal section -->
            <!-- This part will not be shown to the user until they click on the button that is supposed to launch the modal -->
            <!-- The modal should have the same id as the one you specified in the element with the data-target above -->
            <!-- Note that you can use multiple modals in one page, as long as they are all given different ids -->
            <form method="POST">
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="testModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!-- This is where you enter the title of the modal -->
                            <div class="modal-header">
                                <h4 class="modal-title text-primary" id="testModalLabel">Add Helper</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- This is the actual content (can put anything here) -->
                            <div class="modal-body">
                                <div class="card input-card">
                                    <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                                    <div class="card-body input-card-body">
                                        <label for="name" class="card-input-label">
                                            <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                            <small class="card-subtitle mb-2 text-secondary font-weight-normal">Name</small>
                                            <!-- The small element is where we actually write down what the input does  -->
                                        </label>
                                        <input id="name" name="name" class="form-control card-input" type="text"
                                            placeholder="e.g. Mark">
                                        <!-- This is where the user actually inputs all their stuff  -->
                                    </div>
                                </div>
                                <div class="card input-card mt-3">
                                    <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                                    <div class="card-body input-card-body">
                                        <label for="email" class="card-input-label">
                                            <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                            <small class="card-subtitle mb-2 text-secondary font-weight-normal">Email
                                                Address</small>
                                            <!-- The small element is where we actually write down what the input does  -->
                                        </label>
                                        <input id="email" name="email" class="form-control card-input" type="text"
                                            placeholder="e.g. example@mail.com">
                                        <!-- This is where the user actually inputs all their stuff  -->
                                    </div>
                                </div>
                                <div class="card input-card mt-3">
                                    <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                                    <div class="card-body input-card-body">
                                        <label for="password" class="card-input-label">
                                            <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                            <small
                                                class="card-subtitle mb-2 text-secondary font-weight-normal">Phone Number</small>
                                            <!-- The small element is where we actually write down what the input does  -->
                                        </label>
                                        <input id="phoneNumber" name="phoneNumber" class="form-control card-input" type="tel"
                                            placeholder="Enter phone number here">
                                        <!-- This is where the user actually inputs all their stuff  -->
                                    </div>
                                </div>
                                <div class="card input-card mt-3">
                                    <!-- All form elements should be enclosed in cards so they look consistent with the rest of the ui  -->
                                    <div class="card-body input-card-body">
                                        <label for="password" class="card-input-label">
                                            <!-- Labels are used to indicate to the user what the input is/does. Also, the "for" attribute should contain the exact id of the input element  -->
                                            <small
                                                class="card-subtitle mb-2 text-secondary font-weight-normal">Password</small>
                                            <!-- The small element is where we actually write down what the input does  -->
                                        </label>
                                        <input id="password" name="password" class="form-control card-input" type="password"
                                            placeholder="Enter password here">
                                        <!-- This is where the user actually inputs all their stuff  -->
                                    </div>
                                </div>
                            </div>
                            <!-- This is the footer, where you usually put buttons and stuff -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-lg w-100">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Table for list of helpers -->
            <div class="mt-3"></div> <!-- Used for spacing between section heading and content  -->
            <!-- Content  -->
            <div class="card mt-3">
                <!-- Put interactible elements in a card, enclosed with card-body  -->
                <div class="card-body p-0">
                    <!-- We set the card's padding to 0 cause we want the table's edges to be flush with the table  -->
                    <!-- Table  -->
                    <div class="table-responsive">
                        <table class="table table-click table-lg">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col" class="p-3"> 
                                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#Modal">
                                            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Helpers
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (i = 0; i < helpers.length; i++) { %>
                                <tr id="<%= helpers[i].id %>" class="HelperRow">
                                    <td scope="row"><%= i + 1 %></td>
                                    <td class="font-weight-medium"><%= helpers[i].name %></td>
                                    <td><%= helpers[i].email %></td>
                                    <td><%= helpers[i].phoneNumber %></td>
                                    <td><%= moment(helpers[i].createdAt).format('Do MMMM YYYY') %></td>
                                    <td class="text-center">
                                        <a href="/admin/deletehelper/<%= helpers[i].id %>" onclick="return confirm('Are you sure you want to delete this account?')">
                                            <i class="fa fa-trash text-danger" style="font-size: 25px;"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script>
    
    const searchHelperInput = '#searchHelperInput';
    const searchHelperButton = '#searchHelperButton';
    const clearSearchHelperButton = '#clearSearchHelperButton';
    const helperRow = ".HelperRow";

    let helpers;

    $(document).ready(async function() {
        try {
            helpers = (await ajax.get(routes.admin.helpers)).map(helper => User.parseApiResult(helper));
        } catch (error) {
            return utils.handleError(error);
        }
    });

    $(searchHelperInput).keyup(function(e) {
        if (e.keyCode == 13) searchHelperButton.click();

        if (e.target.value.length === 0) $(clearSearchHelperButton).hide();
        else $(clearSearchHelperButton).show();
    });

    $(clearSearchHelperButton).click(function() {
        document.querySelectorAll(helperRow).forEach(obj => obj.classList.remove("table-active"));
        $(searchHelperInput).val('');
        $(clearSearchHelperButton).hide();
    });

    $(searchHelperButton).click(function() {
        document.querySelectorAll(helperRow).forEach(obj => obj.classList.remove("table-active"));
        console.log(document.querySelectorAll(helperRow))

        const helper = helpers.filter(helper => (helper.email).toLocaleLowerCase() === ($(searchHelperInput).val()).trim().toLocaleLowerCase() || (helper.name).toLocaleLowerCase() === ($(searchHelperInput).val()).trim().toLocaleLowerCase());
        if (helper.length < 1) return toast.danger("This helper account does not exist with this email!");

        const row = document.getElementById(helper[0].id);
        row.classList.add("table-active");
    });
   
</script>

<%- include('../templates/footer')-%> -->